.wrapper {
  width: 356px;
  a {
    text-decoration: none;
    list-style: none;
    text-transform: none;
    color: currentColor;
  }
}
.sidebarmain,
.sidebaraccrecommend {
  margin: 10px 0px;
  &::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(22, 24, 35, 0.12);
  }
}
.title {
  color: #161823;
  opacity: 0.5;
}
.sidebar-title {
  margin: 10px 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  color: #161823;
  font-weight: bold;
  opacity: 0.75;
}
.sidebarsignin {
  padding: 20px 20px;
  button {
    width: 100%;
    margin: 20px 0px;
  }
  &::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(22, 24, 35, 0.12);
  }
}
.showall {
  background-color: transparent;
  color: var(--primary);
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 20px;
}
.sidebarpreview {
  padding: 16px 20px;
}
.active {
  color: #fe2c55;
}
